<div class="flags">
  {% include svg/flags.html %}
</div>
<div class="swirls-container">
  <div class="swirls-ii-1">
  {% include svg/swirls-ii.html %}
  </div>
  <div class="swirls-ii-2">
  {% include svg/swirls-ii.html %}
  </div>
  <div class="swirls-ii-3">
  </div>
  <div class="swirls-ii-4">
  {% include svg/swirls-ii.html %}
  </div>
  <div class="swirls-ii-5">
  {% include svg/swirls-ii.html %}
  </div>

  <div class="swirls-i-1">
  {% include svg/swirls-i.html %}
  </div>
  <div class="swirls-i-2">
  {% include svg/swirls-i.html %}
  </div>
  <div class="swirls-i-3">
  </div>
  <div class="swirls-i-4">
  {% include svg/swirls-i.html %}
  </div>
  <div class="swirls-i-5">
  {% include svg/swirls-i.html %}
  </div>
</div>